tmp/
.gitattributes
**/__pycache__/
.vscode/
ui/*_ui.py
ui/*_rc.py
*.sw?
*.log
.cache/
.coverage
dtree/
output.prof
wordlesmash/ui/BatchAdd_ui.py
wordlesmash/ui/NewProfile_ui.py
wordlesmash/ui/WordLeSmash_ui.py
wordlesmash/ui/ProgressDialog_ui.py
wordlesmash/ui/preferences_ui.py
wordlesmash/ui/wordlesmash_rc.py
#
